<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:property-placeholder location="classpath:activemq.properties"
                                  ignore-unresolvable="true"/>
    <bean id="mqXaConnectionFactory" class="org.apache.activemq.ActiveMQXAConnectionFactory">
        <property name="brokerURL" value="${mq.url}"/>
    </bean>

    <bean id="atomikosConnectionFactory"
          class="com.atomikos.jms.AtomikosConnectionFactoryBean" init-method="init" destroy-method="close">
        <property name="uniqueResourceName" value="amq1"/>
        <property name="xaConnectionFactory" ref="mqXaConnectionFactory"/>
        <property name="maxPoolSize" value="10"/>
    </bean>


    <!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 定义的Spring提供的那个ConnectionFactory对象 -->
        <property name="connectionFactory" ref="atomikosConnectionFactory"/>
        <property name="sessionTransacted" value="true"/>
    </bean>



</beans>


