<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wenyu.oauth.dao.OauthResourceMapper">
    <!-- Result Map-->
    <resultMap id="resultMap" type="com.wenyu.oauth.model.OauthResource">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="resource_type" property="resource_type"
                typeHandler="com.wenyu.typehandler.ResourceTypeEnumHandler"/>
        <result column="status" property="status"
                typeHandler="com.wenyu.typehandler.StatusEnumHandler"/>
    </resultMap>

    <insert id="addResource"></insert>
    <select id="getResources" resultType="com.wenyu.oauth.model.OauthResource">
        SELECT * from oauth_resource WHERE status='ENABLE'
    </select>
</mapper>