<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enlinkmob.ucenterapi.dao.SMSMapper">
    <insert id="addConfig"></insert>
    <delete id="deleteConfig"></delete>
    <select id="getSMSConfig" resultType="com.enlinkmob.ucenterapi.model.SMSConfig"></select>
</mapper>