<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <!-- consumer application name -->
    <dubbo:application name="consumer-of-user-app"/>
    <!-- registry address, used for consumer to discover services -->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181,127.0.0.1:2182,127.0.0.1:2183" username="admin"
                    password="test"/>
    <dubbo:consumer timeout="5000"/>
    <!-- which service to consumer -->
    <dubbo:reference id="dubboUserService"
                     interface="com.wenyu.oauth.service.NewUserService"/>
</beans>